<%- include('header'); %>
<%- include('nav'); %>
<main>
<h3>Welcome Home!</h3>
<h4>New Inventory</h4>
<img class="homeimg"src="/images/THE_IVY.jpg">
<img class="homeimg" src="/images/The_ALLEGRA.jpg">
<p>Please login for more details</p>
</main>